html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.40rem;
}


:root {
    --main-margin: 2vw;
    --background-col: #fff;
    --grey-border: rgb(207, 207, 207);
    --paragraph-col: #191a1e;
    --heading-colour: #498fad;
    --heading2-colour: #0a486e;
    --lines-col: #8baecc;
    --hover-col: #f1f1f1;
    --dark-background-col: #f1f1f1;
    --main-green-col: hsl(75, 58%, 60%);
    --darker-green-col: hsl(75, 58%, 50%);
}

body {
    
    background-color: var(--background-col);
}


h2, h3 {
    color: var(--heading2-colour);
}



p {
    color: var(--paragraph-col);
}

.nav-btn-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.nav-btn-list li {
    margin: 0.1rem;
    transition-property: background-color;
    transition-duration: 0.4s;
}

.nav-btn-list li:hover {
    background-color: var(--hover-col);
}

.nav-btn-list li a {
    text-decoration: none;
    color: var(--paragraph-col);
    padding: 10px;
}

#contact-bar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px var(--lines-col) solid;
    background-color: var(--dark-background-col);
}

#contact-bar p{
    margin: 0;
    text-align: center;
    color: var(--heading2-colour);
}

#nav-menu {
    display: block;
    justify-content: center;
    text-align: center;
    background-color: var(--background-col);
    padding-bottom: 2rem;
    
}

#nav-menu .img-container {
    text-align: center;
    
}





#nav-menu ul {
    display: flex;
    justify-content: center;
    padding: 0;    
}

#nav-menu img {
    margin-top: 2vh;
    max-height: 100%;
    max-width: 100%;
}

.page-graphic {
    text-align: center;
    background-color: var(--main-green-col);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;
    background-image: url(img/background.png);
    background-repeat: repeat;
    background-size: auto;
    border-top: 1px var(--lines-col) solid;
    border-bottom: 1px var(--lines-col) solid;
}

.page-graphic img{
    height: 50vh;
}

#nav-menu, #contact-bar p {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
}


body {
    margin: 0;
}


.main-content {   
    background-color: var(--background-col);
    padding-left: var(--main-margin);
    padding-right: var(--main-margin);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

h1, h2, h3 {
    text-decoration-line: underline;
}

.main-content .text-container p{
    margin-left: 2vw;
    margin-right: 2vw;
    
}

.text-container {
    margin-bottom: 3rem;
}

.price-container {
    align-content: center;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    width:auto;
    min-width: 300px;
}

.price-container table {
    margin-left: auto;
    margin-right: auto;
}


.services li {
    padding-bottom: 1rem;
}

footer {
    font-size: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: var(--dark-background-col);
    border-top: 1px var(--lines-col) solid;
    
}

footer P { 
    margin: 0;
}

.footer-info a {
    text-decoration: none;
    color: var(--paragraph-col);
}

.footer-info {
    margin-right: var(--main-margin);
    margin-left: var(--main-margin);
    font-size: 0.75rem;
    flex-wrap: wrap;
}

.footer-info h3 {
    text-decoration-line: none;
}

.footer-text-container {
    text-align: left;
    flex-grow: 1;
    flex-basis: 0;
}

.footer-text-container p {
    padding-bottom: 1rem;
}

.copyright {
    font-size: 0.5rem;
}

table {
    border-collapse: collapse;
    text-align: center; 
    margin-bottom: 3rem;
    width: 100%;
}

th, td {
    padding: 0.5rem;
    text-align: justify;
    text-justify: inter-word;
}

table, th, td {
    border: 1px solid var(--lines-col);
}


tr:nth-child(odd) {background-color: var(--hover-col);}
tr:nth-child(1) {
    background-color: var(--darker-green-col);
}


/*
* {
    border: solid 2px red;
}
*/

@media screen and (min-width: 1300px) {
    .footer-info {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 720px)
{


    #contact-bar p {
        text-align: right;
    }

    #nav-menu img {
        float: left;
        max-height: 10vh;
        margin-top: 0;
    }

    #nav-menu ul {
        display: flex;
        justify-content: right;
        padding-top: 3vh;
    }

    :root {
        --main-margin: 15vw;
    }


    .main-content article {
        margin-right: 5vw;
        width: 100%;
    }

    table {
        width: auto;
    }

    .price-container {
        
        margin-left: 3rem;
        margin-right: 3rem;
    }
    

}



